* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



/* ------------------------------ INDEX - HEADER ------------------------------*/

header {
    border: 1px solid red;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header nav ul li a {
    color: gray;
}

.active {
    text-decoration: underline;
    color: gray;
}

.rrss {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.rrss-img {
    max-width: 25px;
}

@media (min-width: 480px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

}



/* ------------------------------ INDEX - FOOTER ------------------------------*/

footer {
    border: 1px solid red;
    padding: 2rem;
    background-color: #D9D9D9;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* ------------------------------ INDEX - SECCIÓN 1: PRESENTACIÓN ------------------------------*/

.presentacion {
    border: 1px solid blue;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.presentacion-title {
    font-size: 2rem;
    text-align: center;
}

.presentacion-text {
    text-align: center;
}

.presentacion-button {
    background-color: black;
    padding: 1rem 2rem;
    align-self: center;
    color: white;
}

@media (min-width:768px) {
    .presentacion {
        min-height: 50vh;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .presentacion-descripcion {
        text-align: start;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


/* ------------------------------ INDEX - SECCIÓN 2: GALERÍA ------------------------------*/

.galeria {
    border: 1px solid orange;
    padding: 2rem;
    background-color: #F5F5F5;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.galeria-title {
    font-size: 2rem;
    text-align: center;
}

.galeria-imgs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.galeria-button {
    background-color: black;
    padding: 1rem 2rem;
    align-self: center;
    color: white;
}



/* ------------------------------ INDEX - SECCIÓN 3: SUPPORT ------------------------------*/

.support {
    border: 1px solid green;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.support-title {
    font-size: 2rem;
    text-align: center;
}

.support-article {
    border: 1px solid salmon;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.support-article-title {
    font-size: 1.3rem;
    text-align: center;
}

.support-article-text {
    text-align: center;
}

.support-article-button {
    background-color: black;
    padding: 1rem 2rem;
    align-self: center;
    color: white;
}

/* ------------------------------ INDEX - SECCIÓN 4: MERCH ------------------------------*/

.merch {
    border: 1px solid pink;
    padding: 2rem;
    background-color: #F5F5F5;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.merch-title {
    font-size: 2rem;
    text-align: center;
}

.merch-article {
    border: 1px solid salmon;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.merch-article-title {
    font-size: 1.3rem;
    text-align: center;
}

.merch-article-text {
    text-align: center;
}

span {
    text-align: center;
}

.merch-article-button {
    background-color: black;
    padding: 1rem 2rem;
    align-self: center;
    color: white;
}

.merch-button {
    background-color: black;
    padding: 1rem 2rem;
    align-self: center;
    color: white;
}