* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title-main1 {
  font-size: 2rem;
  text-align: center;
  color: #30395F;
}

.title-main2 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  color: gray;
}

.title-h2 {
  font-size: 2rem;
  text-align: center;
  color: #30395F;
}

.title-h3 {
  font-size: 1.3rem;
  text-align: center;
  color: #30395F;
}

.text-p {
  text-align: center;
  padding: 0.5rem;
}

.rrss {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.rrss img {
  max-width: 25px;
}

header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
header .titlebox {
  justify-content: center;
  padding: 2rem;
}
header .navbox nav ul li a {
  color: gray;
  font-family: "Roboto Flex", sans-serif;
}
header .navbox .active {
  text-decoration: underline;
  color: gray;
}
header .navbox .rrss {
  justify-content: flex-end;
}
@media (min-width: 480px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  header .titlebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem;
  }
  header .nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #F29E93;
}
footer p {
  color: white;
}
footer .rrss {
  padding: 0.5rem;
}

.button {
  background-color: black;
  align-self: center;
  color: white;
  border-radius: 50px;
}
.button__grande {
  padding: 1rem 2rem;
}
.button__chico {
  padding: 0.5rem 1rem;
  margin: 1rem auto;
}
.button:hover {
  background-color: #F5C56E;
}

.product {
  border: 1px solid #D9D9D9;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.127);
}

.tag {
  background-color: #c4c4c4;
  padding: 0.2rem 0.7rem;
  align-self: center;
  font-size: 0.8rem;
  color: black;
}

.blog-article {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
}
.blog-article__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.index {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.index-presentacion {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.index-presentacion__description {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .index-presentacion {
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .index-presentacion__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.index-galeria {
  background-color: #F5F5F5;
  padding: 0;
}
.index-galeria__content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.index-galeria__content-imgs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 600px) {
  .index-galeria__content-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .index-galeria__content-imgs--destacada {
    grid-column: span 2;
  }
}
@media (min-width: 992px) {
  .index-galeria__content-imgs {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .index-galeria__content-imgsimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .index-galeria__content-imgs--destacada {
    grid-column: span 1;
  }
}
.index-support {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.index-support__article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.index-support__article.yt {
  flex-direction: column-reverse;
}
.index-support__article-description {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .index-support__article {
    min-height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .index-support__article-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.work-portfolio {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.work-portfolio__imgs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 600px) {
  .work-portfolio__imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .work-portfolio__imgs--destacada {
    grid-column: span 2;
  }
}
@media (min-width: 992px) {
  .work-portfolio__imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .work-portfolio__imgsimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .work-portfolio__imgs--destacada {
    grid-column: span 1;
  }
}

.shop {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.shop-section__articles {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .shop-section__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: stretch;
  }
}

@media (min-width: 992px) {
  .shop-section__articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
.blog {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.blog-section {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.blog-section__article {
  background-color: #F5F5F5;
}
.blog-section__article-description {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.blog-section__article-description-tags {
  display: flex;
  flex-direction: table-column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .blog-section__article {
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.blog-section__box {
  /* border: 1px solid lawngreen; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 600px) {
  .blog-section__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  .blog-section__box .blog-article {
    grid-column: span 3;
  }
}
@media (min-width: 992px) {
  .blog-section__box .blog-article {
    grid-column: span 2;
  }
}

.aboutme-contact {
  background-color: #F5F5F5;
}
.aboutme-contact .aboutme-contact__content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.aboutme-contact .aboutme-contact__content-form {
  /* border: 1px solid hotpink; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
