/* ----------------------------- Reseteo Universal ----------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



/* ----------------------------- Estilos CSS ----------------------------- */


/* ----------------------------- HEADER----------------------------- */

.header {
    background-color: antiquewhite;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header nav ul li a {
    color: grey;
}

.active {
    text-decoration: underline;
    color: grey;
}


@media (min-width: 480px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .nav-list{
        display: flex;
        gap: 1rem;
    
    }

}

/* ----------------------------- BODY ----------------------------- */


/* ------------------- PAGE 1 HOME ------------------- */



/* ---------- Section 1 ---------- */

.section1 {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap:2rem;
}

.section1-title{
    font-size: 2rem;
    text-align: start;
}

.section1-button{
    background-color: black;
    padding: 0.5rem 1rem;
    align-self : center;
    color: white;
    display: inline-block;
}



/* ---------- Section 2 ---------- */

.section2{
    padding: 1rem;
    background-color: #f7f7f7;

    display: flex;
    flex-direction: column;
    gap:2rem;
}

.section2-title{
    font-size: 1.5rem;
    text-align: center ;
}

.section2-imgs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section2-button{
    background-color: black;
    padding: 0.5rem 1rem;
    align-self : center;
    color: white;
    display: inline-block;
}


/* ---------- Section 3 ---------- */

.section-3 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

/* .section3-articles{
    border: 1px solid green
} */

.section3-text {
    width: 50vh;
    align-items: center;
    padding: 20px;
    display: inline-block;
    /* border: 1px solid red; */
}

.section3-img {
    width: 300px;
    height: 300px;
    display: inline-block;
}

/* ---------- Section 4 ---------- */

.section4-product {
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: 40px auto;
    display: inline-block;
}



/* ------------------- PAGE 2 WORK ------------------- */



/* ------------------- PAGE 3 BLOG ------------------- */




/* ------------------- PAGE 4 SHOP ------------------- */

/* Cajas de productos */
.merch-product {
    width: 300px;
    height: 480px;
    border: #C4C4C4 solid 2px;
    padding: 20px;
    margin: 40px auto;
    display: inline-block;
}


/* ------------------- PAGE 5 ABOUT ME ------------------- */





/* ----------------------------- FOOTER ----------------------------- */

.footer-text {
    background-color: #D9D9D9
}

.rrss {
    width: 40px;
    height: 40px;
    display: inline-block;
}

footer {
    width: 100%;
    min-height: 150px;
    text-align: center;
    padding: 50px;
    background-color: #D9D9D9
}