.aboutme-contact {
    @include bg-gray;

    .aboutme-contact__content {
        @include flex-column;
    
        &-form {
            /* border: 1px solid hotpink; */
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }
    }

}