.aboutme-contact {
    background-color: $color-bg1;
    @include flex-column;

    &__form {
        /* border: 1px solid hotpink; */
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}