.blog {
    // border: 1px solid blue;
    @include flex-column;

    &-section1 {
        /* border: 1px solid blue; */
        @include flex-column;

        &__article {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background-color: $color-bg1;

            &-description {
                /* border: 1px solid hotpink; */
                @include flex-column;

                &-tags {
                    display: flex;
                    flex-direction: table-column;
                    gap: 1rem;
                }
            }

            @include mq-md768 {
                min-height: 50vh;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
        }
    }

    &-section2 {
        // border: 1px solid rgb(187, 0, 255);
        @include flex-column;

        &__box {
            /* border: 1px solid lawngreen; */
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include mq-md600 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            }
        }
    }

    &-section3 {
        // border: 1px solid rgb(0, 255, 76);
        @include flex-column;

        &__box {
            // border: 1px solid lawngreen;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include mq-md600 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            }

            @include mq-lg992 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 2rem;
            }
        }
    }
}