.blog {
    // border: 1px solid blue;
    @include flex-column;

    &-section {
        /* border: 1px solid blue; */
        @include flex-column;

        &__article {
            background-color: $color-bg1;

            &-description {
                @include flex-column;

                &-tags {
                    display: flex;
                    flex-direction: table-column;
                    gap: 1rem;
                }
            }

            @include mq-md768 {
                min-height: 50vh;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
        }

        &__box {
            /* border: 1px solid lawngreen; */
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include mq-md600 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 2rem;

                .article {
                    grid-column: span 3;
                }
            }

            @include mq-lg992 {
                .article {
                    grid-column: span 2;
                }
            }
        }
    }
}