.index-presentacion {
    /* border: 1px solid blue; */
    @include flex-column;

    &__description {
        // border: 1px solid hotpink;
        @include flex-column;
    }

    @include mq-md768 {
        min-height: 50vh;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &__descripcion {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}


.index-galeria {
    @include flex-column;
    border-color: 1px solid red;
    background-color: $color-bg1;




    &__imgs {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include mq-md600 {

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;

            &--destacada {
                grid-column: span 2;
            }
        }

        @include mq-lg992 {
            grid-template-columns: 1fr 1fr 1fr;

            &img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }

            &--destacada {
                grid-column: span 1;
            }
        }
    }
}

.index-support {
    // border: 1px solid green;
    @include flex-column;
    gap: 4rem;

    &__article {
        /* border: 1px solid salmon; */
        @include flex-column;

        &-description {
            /* border: 1px solid salmon; */
            @include flex-column;
        }

        @include mq-md600 {
            min-height: 30vh;

            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;

            &-description {
                text-align: start;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}