.shop {
    // border: 1px solid green;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;


    &-section__articles {
        // border: 1px solid cadetblue;
        padding: 2rem;
        align-items: center;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        &-product {
            border: 1px solid blue;
            width: 250px;
            text-align: center;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;

            &img {
                width: 100%;
                border-radius: 10px;
            }
        }

        @include mq-md600 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            justify-items: center;
            align-items: center;
        }
    }
}

@media (min-width:992px) {
    .shop-section__articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}