.shop {
    // border: 1px solid green;
    @include flex-column;


    &-section__articles {
        // border: 1px solid cadetblue;
        @include flex-column;

        @include mq-md600 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            justify-items: center;
            align-items: stretch;
        }
    }
}

@media (min-width:992px) {
    .shop-section__articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}