.work-portfolio {
    // border: 1px solid rgb(0, 0, 255);
    @include flex-column;

    &__imgs {
        // border: 1px solid mediumaquamarine;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include mq-md600 {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &--destacada {
                grid-column: span 2;
            }
        }

        @include mq-lg992 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            &img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &--destacada {
                grid-column: span 1;
            }
        }
    }
}