.work-portfolio {
    border: 1px solid rgb(0, 0, 255);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__imgs {
        border: 1px solid mediumaquamarine;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}


@media (min-width:600px) {
    .work-portfolio__imgs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .work-portfolio__imgs--destacada {
        grid-column: span 2;
    }
}

@media (min-width:992px) {
    .work-portfolio__imgs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .work-portfolio__imgs img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .work-portfolio__imgs--destacada {
        grid-column: span 1;
    }
}