.button {
    background-color: black;
    align-self: center;
    color: white;

    &__grande {
        padding: 1rem 2rem;
    }

    &__chico {
        padding: 0.5rem 1rem;
        margin: 1rem auto;
    }

    &:hover {
        background-color: red;
    }
}