.button {
    background-color: $color-bk;
    align-self: center;
    color: $color-wh;
    border-radius: 50px;

    &__grande {
        padding: 1rem 2rem;
    }

    &__chico {
        padding: 0.5rem 1rem;
        margin: 1rem auto;
    }

    &:hover {
        background-color: $color-2;
    }
}