header {
    // border: 1px solid red;
    @include flex-column;

    .titlebox {
        justify-content: center;
        padding: 2rem;
    }

    .navbox {
        nav ul li a {
            color: $color-gy;
            font-family: $ff-robotoflex;
        }

        .active {
            text-decoration: underline;
            color: $color-gy;
        }

        .rrss{
            justify-content: flex-end
        }
    }

    @include mq-sm480 {
        flex-direction: row;
        justify-content: space-between;

        .titlebox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0rem;
        }

        .nav-list {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
}