header {
    // border: 1px solid red;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    nav ul li a {
        color: $color-gy;
    }

    .active {
        text-decoration: underline;
        color: $color-gy;
    }

    .rrss {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;

        img {
            max-width: 25px;
        }
    }

    @include mq-sm480 {
        flex-direction: row;
        justify-content: space-between;

        @include mq-sm480 {
            .nav-list {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
        }
    }
}