.product-card {
    border: 1px solid blue;
    width: 250px;
    text-align: center;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    &img {
        width: 100%;
        border-radius: 10px;
    }
}